
@{
    ViewBag.Title = "ViewEnterprise";
    ViewBag.BodyClass = "view-enterprise-bg";
}

<div class="enterprise-page">

    <!--ENTERPRISE BG CARD-->
    <div class="enterprise-floating-card">

        <!--ENTERPRISE NAME-->
        <div class="enterprise-header">

            <div class="left-section">
                <div class="enterprise-picture">
                    <!--dito image nung enterprise-->
                    <img src="~/Content/Images/test-img-profile.jpg" />
                </div>
                <div class="ent-info">
                    <h2>Enterprise Name</h2>

                    <span class="status-online">Online</span>

                </div>
            </div>

        </div>


        <!---PRODUCTS-->
        <div class="ent-product-section">
            <h2>PRODUCTS</h2>

            <div class="ent-product-grid">

                <div class="ent-product-card">
                    <div class="product-img-container">
                        <img src="~/Content/Images/test-img1.jpg" />
                    </div>


                    <div class="ent-product-info">
                        <span class="ent-product-name">Pasta Verde</span>
                        <span class="ent-product-price">₱64.00</span>
                    </div>
                </div>

                <div class="ent-product-card">
                    <div class="product-img-container">
                        <img src="~/Content/Images/test-img1.jpg" />
                    </div>


                    <div class="ent-product-info">
                        <span class="ent-product-name">Pasta Verde</span>
                        <span class="ent-product-price">₱64.00</span>
                    </div>
                </div>

                <div class="ent-product-card">
                    <div class="product-img-container">
                        <img src="~/Content/Images/test-img2.jpg" />
                    </div>


                    <div class="ent-product-info">
                        <span class="ent-product-name">Pasta Verde</span>
                        <span class="ent-product-price">₱64.00</span>
                    </div>
                </div>

                <div class="ent-product-card">
                    <div class="product-img-container">
                        <img src="~/Content/Images/test-img1.jpg" />
                    </div>


                    <div class="ent-product-info">
                        <span class="ent-product-name">Pasta Verde</span>
                        <span class="ent-product-price">₱64.00</span>
                    </div>
                </div>

                <div class="ent-product-card">
                    <div class="product-img-container">
                        <img src="~/Content/Images/test-img2.jpg" />
                    </div>


                    <div class="ent-product-info">
                        <span class="ent-product-name">Pasta Verde</span>
                        <span class="ent-product-price">₱64.00</span>
                    </div>
                </div>

                <div class="ent-product-card">
                    <div class="product-img-container">
                        <img src="~/Content/Images/test-img2.jpg" />
                    </div>


                    <div class="ent-product-info">
                        <span class="ent-product-name">Pasta Verde</span>
                        <span class="ent-product-price">₱64.00</span>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<div id="ent-ad-modal" class="ad-modal">
    <div class="ad-modal-content">
        <span class="close-btn">&times;</span>

        <!---replace the content/images/ad sample png, sample lang kasi yan-->
        <img src="@Url.Content(ViewBag.AdImageUrl ?? "~/Content/Images/ad-sample.png")" alt="enterprise-ad" />
    </div>
</div>


<!--script src for advertisement pop up-->
@section Scripts {
    <script src="~/Scripts/Enterprise-Ad-Modal.js"></script>
}

