body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}



/*HOMEPAGE*/

/*FOR CUSTOMIZING NAVBAR LOOK*/
.custom-navbar {
    background-color: #ffffff;
    border-bottom: 2px solid transparent;
}

.custom-navbar .navbar-nav > li > a {
     color: #111fa2;
     display: flex;
     align-items: center;
     font-size: 15px;
     margin: 0 12px;
     transition: color 0.3s ease, transform 0.3s ease;
}

.custom-navbar .navbar-nav > li > a:hover {
      color: #111fa2;
      transform: scale(1.1);
}

.custom-navbar .navbar-nav ul > li > a.active {
      background-color: #ffde42;
}

.custom-navbar .navbar-nav > li > a:focus {
      color: #111fa2;
}

/*TOGGLE BUTTON*/
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #111fa2;
}

/*HOMEPAGE*/
/*bg for index/homepage only*/

body.home-bg {
    background-image: url('/Content/Images/BizzyQCU-Home-BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    overflow: hidden;
}

.hp-middle-content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*TAGLINE*/
.Homepage-tagline {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

    .Homepage-tagline .GetStarted-btn {
        background-color: #ffde42;
        border: none;
        color: #111fa2;
        padding: 12px 28px;
        border-radius: 12px;
        font-weight: bold;
        cursor: pointer;
        transition-duration: 0.4s;
        margin-bottom: 10px;
    }

        .Homepage-tagline .GetStarted-btn:hover {
            box-shadow: 3px 5px 12px 0 rgba(0,0,0,0.4);
            background-color: #efc601;
        }

    .Homepage-tagline h1 {
        font-weight: bolder;
        font-size: clamp(24px, 10vw, 90px);
        text-shadow: 1.5px 3px 2px #000000;
    }

    .Homepage-tagline p {
        text-shadow: 1.5px 1.5px 3px #000000;
    }

    .Homepage-tagline h1, .Homepage-tagline p {
        margin: 0;
    }

/*test query*/
@media (max-width: 768px) {
    .hero {
        height: 70vh;
    }
}

/*LOGO*/
.navbar-brand img {
    width: auto;
    height: 100%;
    vertical-align: middle;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    display: table-cell;
    vertical-align: middle;
}


/*FOR PRODUCT LIST PAGE*/

body.product-page {
    background: linear-gradient(135deg, rgba(255, 222, 66, 0.4), rgba(17, 31, 162, 0.3)), #232ab9 !important;
    min-height: 100vh;
    width: 100%;
}

.floating-header {
    background: linear-gradient(135deg, #111fa2, #f4b301);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 0;
    padding: 10px 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    text-align: left;
    padding-left: 10%;

}

.floating-header h2, p {
    color: white;
    font-weight: bold;

}

/*SEARCHBAR AND DROPDOWN*/

.search-filtering {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    box-sizing: border-box;
    padding: 20px 10%;
}

.searchbox-section {
    flex: 1;
    margin-right: 20px;
}

.search-input {
    width: 100% !important;
    padding: 12px 20px;
    border-radius: 20px;
    border: 2px solid #d9d9d9;
    outline: none;
    font-size: 16px;
    max-width: 500px !important;
}

.filter-section {
    display: flex !important;
    gap: 15px;
}

.filter-dropdown {
    min-width: 160px;
    height: 48px; 
    border-radius: 20px;
    border: 2px solid #d9d9d9;
    padding: 10px 15px;
    cursor: pointer;
    background-color: white;
    gap: 10px;
}

/*MEDIA QUERIES TEST FOR PRODUCT LIST*/

@media (max-width: 1024px) {
    .search-filtering {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 20px 5%;       
    }

    .searchbox-section {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px; 
    }

    .search-input {
        max-width: 100%; 
    }

    .filter-section {
        width: 100%;
        flex-wrap: wrap; 
        gap: 10px;
    }

    .filter-dropdown {
        flex: 1; 
        min-width: 140px;
    }
}



/*STYLES FOR VIEW ENTERPRISE PAGE*/

body.view-enterprise-bg {
    background: linear-gradient(to top, rgba(255, 222, 66, 0.5), rgba(255, 222, 66, 0.5), rgba(17, 31, 162, 0.5))#111fa2 !important;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.enterprise-page {
    min-height: 100vh;
    padding: 40px;
}

.enterprise-floating-card {
    width: 96vw;
    max-width: 1800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 20px;
    height: 86vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*ENTERPRISE HEADER*/

.enterprise-header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    background: #f6f6f6;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.ent-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ent-info h2 {
    font-weight: bold;
    color: #111fa2;
}

.status-online {
    font-size: 20px;
    color: #111fa2;
}

.ent-msg-btn {
    width: 160px;
    height: 42px;
    border-radius: 12px;
    border: none;
    background: #f6f6f6;
    color: #111fa2;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(17, 31, 162, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ent-msg-btn:hover {
    color: #111fa2;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}



.enterprise-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    border: 2px solid #ddd;
}

.enterprise-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}



/*PRODUCTS IN VIEW ENTERPRISE*/

.ent-product-section {
    margin-top: 15px;
    overflow-y: auto;
    flex-grow: 1;
    padding-right: 10px;
}

.ent-product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.ent-product-section h2 {
    font-weight: bold;
    color: #111fa2;
    border-left-style: solid;
    border-color: #edba21;
    border-width: 5px;
    padding: 10px;
    margin-left: 60px;
}

.ent-product-card {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 4px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: left;
}

.ent-product-card:hover {
    transform: translateY(-5px);
}

.product-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
}

.product-img-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: #eee;
}

.ent-product-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

}

.ent-product-name {
    font-size: 2rem;
    font-weight: normal;
    color: #111fa2;
}

.ent-product-price {
    font-size: 2rem;
    color: #111fa2;
    font-weight: normal;
}


/*MEDIA QUERIES FOR ENTERPRISE PAGE*/

@media (max-width: 768px) {

    .ent-product-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .enterprise-header {
        padding: 30px;
        align-items: flex-start;
    }

    .enterprise-picture {
        width: 80px;
        height: 80px;
    }

    .ent-info h2 {
        font-size: 2.5rem;
        margin: 0;
    }

    .ent-msg-btn {
        width: 140px; 
        height: 35px;
        font-size: 13px;
    }

    .enterprise-floating-card {
        width: 95vw;
        padding: 15px; 
    }

    .ent-product-section h2 {
        margin-left: 10px; 
        font-size: 2rem;
    }
}

