@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "home-bg";
    ViewData["Title"] = "Homepage";
}

<body class="home-bg">
    <div class="hp-middle-content">
        <div class="Homepage-tagline">
            <h1>PRODUCTS MADE BY OUR CAMPUS ENTREPRENEURS.</h1>
            <a href="#" class="GetStarted-btn">Get Started</a>
     
            <p>New to BizzyQCU? <a href="#">Sign Up</a></p>
            <p>Want to Sell? <a href="#">Sign Up Here</a></p>
        </div>
    </div>
</body>

